.container,
.header,
.stepCard,
.content,
.text {
  display: flex;
  flex-direction: column;
}

.container {
  gap: var(--spacing-size-64, 4rem);
  padding: var(--padding-vertical-lg, 7.5rem) var(--container-padding-horizontal-lg, 4rem);
  max-width: var(--screen-lg, 80rem);
  margin: auto;
}

.header {
  gap: var(--spacing-size-32, 2rem);
}

.label {
  background-color: var(--color-default-neutral-200, #f7f4f2);
  border-radius: 62.5rem;
  padding: var(--spacing-size-6, 0.375rem) var(--spacing-size-16, 1rem);
  width: fit-content;
}

.steps {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-size-80, 5rem);
  justify-content: space-between;
}

.stepNumber {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-default-primary-500, #5993ea);
  border-radius: 0.75rem;
  z-index: 1;
  font-family: var(--font-family-strong, 'Outfit');
  font-weight: var(--font-weight-strong-bold, 700);
  font-size: var(--font-size-strong-md, 2rem);
  line-height: var(--font-lineHeight-strong-md, 2.25rem);
  letter-spacing: var(--font-letterSpacing-strong-lg, -0.04em);
  text-transform: uppercase;
  color: var(--color-default-white, #ffffff);
}

.stepCard {
  gap: var(--spacing-size-28, 1.75rem);
  max-width: 20rem;
  flex: 1 1 20rem;
}

.image {
  width: 100%;
  height: auto;
  max-width: 20rem;
  border-radius: 1rem;
}

.content {
  gap: var(--spacing-size-32, 2rem);
}

.text {
  gap: var(--spacing-size-14, 0.875rem);
}

@media (max-width: 48rem) {
  .container {
    padding: var(--padding-vertical-sm, 4rem) var(--container-padding-horizontal-sm, 1.5rem);
  }

  .steps {
    flex-direction: column;
  }

  .steps::before {
    content: '';
    position: absolute;
    left: 1.25rem;
    top: 0;
    bottom: 2rem;
    width: 0.063rem;
    background-color: var(--color-default-primary-200, #cddff8);
    z-index: 0;
  }

  .stepCard {
    position: relative;
    padding-left: 3.75rem;
    max-width: 100%;
  }

  .stepNumber {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media (min-width: 48.063rem) {
  .content {
    position: relative;
  }
  .content::before {
    content: '';
    position: absolute;
    top: 1.5rem;
    left: -50vw;
    right: -50vw;
    height: 0.063rem;
    background-color: var(--color-default-primary-200, #cddff8);
    z-index: 0;
  }
}
