.container,
.header {
  display: flex;
  flex-direction: column;
}

.container {
  gap: var(--spacing-size-64, 4rem);
  padding: var(--padding-vertical-lg, 7.5rem) var(--container-padding-horizontal-lg, 4rem);
  max-width: var(--screen-lg, 80rem);
  margin: auto;
}

.header {
  gap: var(--spacing-size-32, 2rem);
}

.label {
  background-color: var(--color-default-neutral-200, #f7f4f2);
  border-radius: 62.5rem;
  padding: var(--spacing-size-6, 0.375rem) var(--spacing-size-16, 1rem);
  width: fit-content;
}

.steps {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-size-80, 5rem);
  justify-content: space-between;
}

@media (max-width: 48rem) {
  .container {
    padding: var(--padding-vertical-sm, 4rem) var(--container-padding-horizontal-sm, 1.5rem);
  }

  .steps {
    flex-direction: column;
  }

  .steps::before {
    content: '';
    position: absolute;
    left: 1.25rem;
    top: 0;
    bottom: 2rem;
    width: 0.063rem;
    background-color: var(--color-default-primary-200, #cddff8);
    z-index: 0;
  }
}
