.stepCard,
.content,
.text {
  display: flex;
  flex-direction: column;
}

.stepNumber {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-default-primary-500, #5993ea);
  border-radius: 0.75rem;
  z-index: 1;
  color: var(--color-default-white, #ffffff);
}

.stepCard {
  gap: var(--spacing-size-28, 1.75rem);
  max-width: 20rem;
  flex: 1 1 20rem;
}

.image {
  width: 100%;
  height: auto;
  max-width: 20rem;
  border-radius: 1rem;
}

.content {
  gap: var(--spacing-size-32, 2rem);
}

.text {
  gap: var(--spacing-size-14, 0.875rem);
}

@media (max-width: 48rem) {
  .stepCard {
    position: relative;
    padding-left: 3.75rem;
    max-width: 100%;
  }

  .stepNumber {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media (min-width: 48.063rem) {
  .content {
    position: relative;
  }
  .content::before {
    content: '';
    position: absolute;
    top: 1.5rem;
    left: -50vw;
    right: -50vw;
    height: 0.063rem;
    background-color: var(--color-default-primary-200, #cddff8);
    z-index: 0;
  }
}
