.button {
  width: fit-content;
  background-color: var(--color-default-primary-500, #5993ea);
  border: none;
  border-radius: var(--radius-16, 1rem);
  padding: var(--spacing-size-12, 0.75rem) var(--spacing-size-32, 2rem);
  color: var(--color-default-white, #ffffff);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--button-hover-background, #365d95);
  }
}
