:root {
  --background: #f7f4f2;
  --foreground: #171717;
  --nav-background: #ffffff;
  --footer-background: #edeae8;
  --button-text-color: #3e424c;
  --button-text-hover-color: #171717;
  --button-text-active-color: #365d95;

  --spacing-size-4: 0.25rem;
  --spacing-size-8: 0.5rem;
  --spacing-size-12: 0.75rem;
  --spacing-size-16: 1rem;
  --spacing-size-24: 1.5rem;
  --spacing-size-32: 2rem;
  --spacing-size-48: 3rem;
  --spacing-size-64: 4rem;

  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
