/* Gilmer font */
@font-face {
  font-family: 'Gilmer';
  src: url('/fonts/gilmer/Gilmer Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer';
  src: url('/fonts/gilmer/Gilmer Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilmer';
  src: url('/fonts/gilmer/Gilmer Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --nav-background: #ffffff;
  --footer-background: #edeae8;
  --button-text-color: #3e424c;
  --button-text-hover-color: #171717;
  --button-text-active-color: #365d95;
  --color-default-neutral-200: #f7f4f2;
  --color-default-primary-500: #5993ea;
  --color-default-primary-200: #cddff8;
  --color-default-grey-900: #1f222c;
  --color-brown: #532728;

  --container-padding-horizontal: clamp(1.5rem, 5vw, 4rem);

  --spacing-size-4: 0.25rem;
  --spacing-size-6: 0.375rem;
  --spacing-size-8: 0.5rem;
  --spacing-size-12: 0.75rem;
  --spacing-size-14: 0.875rem;
  --spacing-size-16: 1rem;
  --spacing-size-24: 1.5rem;
  --spacing-size-28: 1.75rem;
  --spacing-size-32: 2rem;
  --spacing-size-48: 3rem;
  --spacing-size-64: 4rem;
  --spacing-size-80: 5rem;
  --spacing-size-120: 7.5rem;

  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;

  --font-family-heading: 'Gilmer', sans-serif;
  --font-weight-heading-bold: 700;
  --font-weight-heading-semibold: 600;
  --font-size-body-xs: 0.75rem;
  --font-lineHeight-body-xs: 1.25rem;
  --font-size-heading-xl: clamp(1.25rem, 2vw, 1.75rem);
  --font-lineHeight-heading-xl: clamp(1.5rem, 2vw, 2rem);
  --font-letterSpacing-heading-xl: -0.03rem;

  --font-family-strong: 'Outfit', sans-serif;
  --font-weight-strong-bold: 700;
  --font-size-strong-xl: clamp(2.5rem, 4vw, 4rem);
  --font-lineHeight-strong-xl: clamp(3rem, 3.5vw, 4.5rem);
  --font-size-strong-lg: clamp(2rem, 3.5vw, 3rem);
  --font-lineHeight-strong-lg: clamp(2rem, 5vw, 3.5rem);
  --font-letterSpacing-strong-lg: -0.04em;
  --font-size-strong-md: clamp(1.5rem, 2vw, 2rem);
  --font-lineHeight-strong-md: clamp(1.75rem, 2.5vw, 2.25rem);

  --font-family-body: 'Montserrat', sans-serif;
  --font-weight-body-regular: 500;
  --font-size-body-md: 1rem;
  --font-lineHeight-body-md: 1.75rem;
}

body {
  background: var(--background, #ffffff);
  color: var(--color-default-grey-900, #1f222c);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: auto;

  h2,
  h3,
  h4,
  p {
    margin: 0;
  }

  h2,
  h4 {
    font-family: var(--font-family-heading, 'Gilmer');
  }

  h2,
  h3 {
    text-transform: uppercase;
  }

  h2 {
    font-weight: var(--font-weight-heading-bold, 700);
    font-size: var(--font-size-body-xs, 0.75rem);
    line-height: var(--font-lineHeight-body-xs, 1.25rem);
    letter-spacing: 0.125rem;
    color: var(--color-brown, #532728);
  }

  h3 {
    font-family: var(--font-family-strong, 'Outfit');
    font-weight: var(--font-weight-strong-bold, 700);
    font-size: var(--font-size-strong-lg, 3rem);
    line-height: var(--font-lineHeight-strong-lg, 3.5rem);
    letter-spacing: var(--font-letterSpacing-strong-lg, -0.04em);
  }

  h4 {
    font-weight: var(--font-weight-heading-semibold, 600);
    font-size: var(--font-size-heading-xl, 1.75rem);
    line-height: var(--font-lineHeight-heading-xl, 2rem);
    letter-spacing: var(--font-letterSpacing-heading-xl, -0.03rem);
  }

  p {
    font-family: var(--font-family-body, 'Montserrat');
    font-weight: var(--font-weight-body-regular, 500);
    font-size: var(--font-size-body-md, 1rem);
    line-height: var(--font-lineHeight-body-md, 1.75rem);
  }

  span {
    color: var(--color-default-primary-500, #5993ea);
  }
}
