.header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  padding: var(--spacing-size-8, 0.5rem) var(--spacing-size-64, 4rem);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-size-24, 1.5rem);
  align-items: center;
}

.logo {
  width: 3.938rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3eceb;
  font-weight: var(--font-weight-body-semibold, 600);
  font-size: var(--font-size-body-sm, 0.875rem);
  line-height: var(--font-lineHeight-body-sm, 1.375rem);
  text-transform: uppercase;
}

.separator {
  width: 0.063rem;
  height: 2rem;
  background-color: var(--color-grey-shades-grey-400, #c5c9d2);
}

@media (max-width: 48rem) {
  .header {
    padding: var(--spacing-size-8, 0.5rem) var(--spacing-size-24, 1.5rem);
    position: unset;
    justify-content: center;

    img {
      width: 5.313rem;
      height: auto;
    }
  }

  .logo {
    height: 2.75rem;
  }
}
